:root {
  /* color variables */
  --clr-primary: #ff9933;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;

  /* border radius */
  --radius: 0.2rem;
}

/* PlayPen Sans font
 *****************/

@font-face {
    font-family: 'playpensans';
    src: url('PlaypenSans-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Overall Styling
 *****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2A0A0A;
/* background-image: url('../site/background.png'); */
/*  background-position: center; /* Center the image */
/* background-repeat: repeat; /* Do not repeat the image */
/*  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

a {
color: #E65100;
}

a:hover {
color: #FF6700;
}

a:visited {
color: #BF360C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
/*  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
  line-height: 1.4;
}

li {
  list-style: disc;
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card-overlay {
  border-radius: var(--radius);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.35); /* Black background with 0.65 opacity */
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.52);
  color: #f1f1f1;
  /*width: 100%;*/
  padding: 0.5rem 1rem;
}


/* Navigation Bar
 ****************/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem 0.4rem;
/*  background: url(../site/header.png) !important; */
/*  background-repeat: no-repeat; */
/*  background-size: auto; */
  background-color: rgba(22,5,5,0.8); /* RedBlack background with 0.4 opacity */
/*  background: linear-gradient(to bottom, rgba(25,25,25,1), rgba(25,25,25,0.1)); */
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
/*  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; -webkit-transition: all 0.35s; -moz-transition: all 0.35s; transition: all 0.35s; */
  font-weight: normal;
  font-style: normal;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.52);
  color: #191919;
}


@media screen and (min-width: 900px) {
  header {
    padding: 1rem 3rem;
    flex-direction: row;
    text-align: center;
  }
}

/* header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 0.6rem;
} */

header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;             /* remove default margin */
  padding: 0.6rem 0;     /* smaller padding so it aligns with nav */
}

header h1 a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 900px) {
    header h1 {
      font-size: 0.9rem;
      padding-bottom: 0;
    }
}

@media screen and (min-width: 1000px) {
    header h1 {
        text-align: none;
        font-size: 0.9rem;
    }
}


nav {
  margin: auto 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

@media screen and (min-width: 900px) {
  nav ul {
    justify-content: space-between;
  }
}

.nav__item {
    list-style: none;
}

.nav__link, .nav__link:visited {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__item + .nav__item {
  margin-left: 0.5rem;
}

@media screen and (min-width: 900px) {
    .nav__link, .nav__link:visited {
        font-size: 0.9rem;
    }

    .nav__item + .nav__item {
        margin-left: 2.0rem;
    }
}

/* Cards
 *******/
.recipe-container {
  margin: 2.0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 0.3fr));
  grid-gap: 1.0rem;
  justify-content: center;
}

@media screen and (min-width: 1081px) {
  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 0.3fr));
    grid-gap: 1.0rem;
  }
}

.card {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-radius: var(--radius);
  padding-bottom: 30%; /* Maak ruimte onder de afbeelding voor de body */
}

.card a {
  text-decoration: none;
}

.card__image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.card__body {
  width: 100%;
  font-family: 'playpensans', Arial, sans-serif;
  text-align: center;
  padding: 0.5rem 0.5rem;
  position: absolute;
  top: 10rem;
  height: 50%; /* Zorg voor voldoende hoogte */
  background: #fff;/*#ff9933; rgba(0, 0, 0, 0.8) Black background with 0.4 opacity */
  color: black; /* Black text */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__body h2 {
  padding-bottom: 0.3rem;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0em;
  color: #ff9933;
}

.card__body__in__page {
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 0.5rem 0.5rem;
  position: absolute;
  top: 85%;
  background: #0A1A2A; /* Dahlia background with 0.4 opacity */
  color: white; /* Grey text */
}

.card__body__in__page h2 {
  margin-top: 0rem;
  padding: 0rem;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0em;
}

.card__body p {
  padding: 0;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.0em;
}

.recipe-title-long {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.recipe-title-extra-long {
  font-size: 1.0rem;
  padding-bottom: 0.55rem;
}

.card__body p {
  font-weight: normal;
}

.recipe-badge {
  border-radius: 6px;
  padding: 4px;
  display: inline-block;
  font-size: 0.8em;
  margin-top: 6px;
}

.badge1 {
  background-color: green;
  color: white;
}

.badge2 {
  background-color: purple;
  color: white;
}


/* Footer
 ********/
footer {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  margin: 2rem 0;
  padding: 1rem 0;
  background-color: #2A0A0A;
/*  background: url(../site/footer.png) !important; */
/*  background-repeat: no-repeat; */
/*  background-size: auto; */
}

footer a {
  text-decoration: none;
  color: rgba(170,170,170,1);
}

footer a:hover {
  text-decoration: none;
  color: white;
}


/* Error Page Styling
 ********************/
.errorpage-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1em;
}

.errorpage-section {
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 1em;
}

/* Code Styling
 ********************/

pre {
  display: flex;
  flex-wrap: wrap;
}

/* For all <code> */
code {
  font-family: monospace;
  font-size: inherit;
  margin: 0.1rem 0;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: transparent;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .1rem .2rem;
  border-radius: .2rem;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

@media print {
	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
		background: #fff;
	}
}

