.blogpost-container {
  margin: 1.0rem;
  justify-content: center;
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  .blogpost-container {
    margin: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .blogpost-container {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 900px){
  .blogpost-container {
        margin: 3.0rem 15.0rem 1.0rem;
  }
}

.blogpost-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .blogpost-container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .blogpost-container h1 {
    font-size: 1.5rem;
  }
}

.blogpost-container h3 {
  text-align: left;
  margin: 1rem 0;
  text-transform: none;
}

@media screen and (max-width: 768px) {
  .blogpost-container h3 {
    font-size: 1.2rem;
  }
}

.blogpost__date {
  text-align: center;
  font-size: 0.9rem;
  margin: 1rem 0;
}

.blogpost__image {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .blogpost__image {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .blogpost__image {
    width: 100%;
  }
}

.blogpost__article {
  text-align: left;
  margin: 1rem 0.5rem;
}

@media screen and (min-width: 900px) {
  .blogpost__article {
    text-align: left;
    margin: 1rem 5rem;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .blogpost__article {
    margin: 1rem 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .blogpost__article {
    margin: 1rem 0.5rem;
  }
}

.blogpost__article p {
  padding: 0.5rem 0;
}

.blogpost__article ul, .blogpost__article ol{
  list-style-position: inside;
  margin-left: 1rem;
}

@media screen and (max-width: 480px) {
  .blogpost__article ul, .blogpost__article ol {
    margin-left: 0.5rem;
  }
}

.blogpost__article li {
  padding: 0.2rem 0;
}

.blogpost__article a, .blogpost__article a:visited {
  text-decoration: none;
  color: #cc6600;
}

.blogpost__article a:hover {
  text-decoration: none;
  color: #ff9933;
}

.article__image {
  text-align: center;
}

h2 {
  margin: 1rem 0;
}
