{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/material.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>About</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">

        <h2>About me</h2>
        <p><em>Technically fluent. Organisationally aware. Occasionally paranoid, on purpose.</em></p>
        <p>I’m Nienke Fokma (a.k.a. Nina Barzh), a digital security practitioner for organisations that can't afford
            to get this wrong. With over 40 years of seeing what works (and what doesn't) across telecoms, startups,
            and human rights defence, I cut through the vendor theatre. I work with mission-driven European teams to
            build pragmatic security that fits your reality, protecting sensitive data and navigating regulatory
            requirements, so your defences are ready when things get rough.</p>

        <h2>Availability</h2>
        <p>Based in Dordrecht, Netherlands. Available for remote work and on-site engagements across Europe.</p>

        <ul>
            <li><a href="{{ url_for('recipes.documents') }}">Dutch ZZP (KvK & VAT registered)</a></li>
            <li>Prefer direct, project-based collaboration</li>
            <li>I am available for meaningful work that protects people, and/or improves security in real-life settings.</li>
            <li>No outsourcing, overpromising, or data-selling</li>
        </ul>

    </div>

    <p align="center"><b>You will never receive an invoice that differs from our agreed-upon, written quote</b></p>


    <div class="page__article">
        <div class="page-post-card__link">
            <a href="{{ url_for('recipes.contact') }}">Curious? Get in touch</a>
        </div>
    </div>

</div>
{% endblock %}
