{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>IPA project</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">
        <p>A project sponsored by <a href="https://ut7.fr/">/ut7</a> for supporting Intimate Partner Abuse survivors in various ways:
        <ul>
            <li>Keeping up with the digital tracking threat landscape</li>
            <li>Asking survivors as the domain experts for developing up-to-date guides on detecting and removing tracking attempts.</li>
            <li>Designing and facilitating workshops which include hands-on exercises on tracking, and roleplays on dealing with law enforcement in local contexts.</li>
            <li>Developing labs for shelters to do mobile testing and forensics using open source tools such as the <a href="https://pts-project.org/"> PiRogue suite</a>.</li>
            <li>Supporting interested parties in using the lab.</li>
        </ul>
        <p>We work closely with health professionals. Measurements on success is going to be hard, but we could use <a href="https://sites.google.com/bc.edu/goodman-research-team/measures/measurement-of-victim-empowerment-related-to-safety">MOVERS</a>.</p>
    </div>

</div>
{% endblock %}
