{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>Projects</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">
        <p>I am currently working on a <a href="../ipa">self-organising IPA project</a>, sponsored by /ut7, for supporting Intimate Partner Abuse survivors removing tracking.</p>
        <p>Next to that I am continuously researching the threat landscape, looking forward, and doing new challenges in testlabs to adopt and adapt exercises for in hands-on workshops in a specific context.</p>
        <p>And I have room for one more project, something like ...</p>
        <ul>
            <li>Setting up and facilitating <a href="../awareness">Raising Security Awareness</a> and <a href="https://green.tymyrddin.dev/">Raising Privacy Awareness</a> programs</li>
            <li><a href="../pentesting">Pentesting</a> not-for-profit organisations</li>
            <li>Low-budget <a href="../teaming">colourful teaming simulations</a></li>
            <li>Systems administration with a focus on <a href="https://blue.tymyrddin.dev/">securing endpoints</a></li>
            <li>Writing a paper or in-depth article (or series of articles) on security or privacy problems in Dutch, English, or German language</li>
            <li>Developing tools or websites</li>
            <li>Designing and facilitating workshops or masterclasses</li>
        </ul>

    </div>

    <div><hr class="light"></div>
    <div class="recipe-container">

        <div class="card">
            <a href="../ipa">
                <img
                    src="{{ url_for('static', filename='img/ipa.png') }}"
                    alt="Sisters again"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">IPA project</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://landscape.tymyrddin.dev/">
                <img
                    src="{{ url_for('static', filename='img/threat-landscape.png') }}"
                    alt="Disc world"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Threat landscape</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://toekomstverkennen.nl/scenarioplanning/">
                <img
                    src="{{ url_for('static', filename='img/strategy.png') }}"
                    alt="The Ankh Morpork guard"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Scenario planning forward</h2>
                </div>
            </a>
        </div>

    </div>

</div>
{% endblock %}
