{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>Ty Myrddin</h1>
        <h2 align="center">Demystifications in the house of Merlina</h2>
        <h3 align="center">Security for NGO's, small businesses, and individuals</h3>
        <hr class="light">
    </div>

    <div class="page__article_white">

        <p>Hi, I’m Nienke Fokma (alias Nina Barzh), based in Dordrecht, the Netherlands. With over 40 years of IT
            experience across various roles, I specialize in helping NGOs, small businesses, and individuals strengthen
            their security and implement and optimize their tech solutions. I am good at creative problem-solving and
            turning challenges into opportunities. Let's work together to achieve your goals.</p>
    </div>

    <div class="page__article">
        <div class="page-post-card__link">
            <a href="{{ url_for('recipes.portfolio_recipes') }}">See some of my work.</a>
        </div>

        <div class="page-post-card__link">
            <a href="{{ url_for('recipes.contact') }}">Ready to get started? Let's talk!</a>
        </div>
    </div>

</div>
{% endblock %}