{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/material.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>Services</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">

        <h2 align="center">See around corners</h2>
        <p align="center"><em>Spot what may be coming before it hits your team.</em></p>

        <div class="recipe-container">

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/threat-modelling/">
                    <img
                        src="{{ url_for('static', filename='img/threat-modelling-and-prep.png') }}"
                        alt="Blue Team"
                        class="card__image" />
                    <div class="card__body">
                        <p>Hands-on exercises to map potential adversary behaviours and operational risks before they materialise.</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/choreographies/scenario-planning">
                    <img
                        src="{{ url_for('static', filename='img/scenario-planning-and-foresight.png') }}"
                        alt="Red Team"
                        class="card__image" />
                    <div class="card__body">
                        <p>Explore plausible futures, test assumptions, and develop contingency approaches that fit your context.</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/risk-management/">
                    <img
                        src="{{ url_for('static', filename='img/risk-management.png') }}"
                        alt="Purple Team"
                        class="card__image" />
                    <div class="card__body">
                        <p>More hands-on exercises to build up towards operating a risk register, risk model, and internal audits.</p>
                    </div>
                </a>
            </div>

        </div>

        <div class="page__article">
            <div class="page-post-card__link">
                <a href="{{ url_for('recipes.contact') }}">Curious where to begin? Use a free half-hour consultation to get a taste.</a>
            </div>
        </div>

        <h2 align="center">Move together</h2>
        <p align="center"><em>Coordinate teams and stakeholders more effectively.</em></p>

        <div class="recipe-container">

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/secop/sirt/">
                    <img
                        src="{{ url_for('static', filename='img/sirt.png') }}"
                        alt="Building an Incident Response Team (SIRT)"
                        class="card__image" />
                    <div class="card__body">
                        <p>A lean, agile SIRT focuses on essentials: clear roles, flexible processes, and continuous learning. It avoids heavy bureaucracy.</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/secops/soc/">
                    <img
                        src="{{ url_for('static', filename='img/soc.png') }}"
                        alt="Building and operating a Security Operations Centre (SOC)"
                        class="card__image" />
                    <div class="card__body">
                        <p>Unlike traditional, rigid SOCs, a lean and agile SOC focuses on actionable intelligence, fast response, and continuous improvement.</p>
                    </div>
                </a>
            </div>

        </div>

        <div class="recipe-container">

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/learning/incident-response/">
                    <img
                        src="{{ url_for('static', filename='img/incident.png') }}"
                        alt="Incident response & crisis facilitation"
                        class="card__image" />
                    <div class="card__body">
                        <p>Tabletop and live simulations let teams test procedures, explore communication strategies, and practise continuity planning.</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/knowledge-transfer/">
                    <img
                        src="{{ url_for('static', filename='img/incident-playbook.png') }}"
                        alt="Knowledge transfer & playbook development"
                        class="card__image" />
                    <div class="card__body">
                        <p>Turn lessons from exercises and incidents into manuals, dashboards, detection playbooks, and workflows, ready to use and extend.</p>
                    </div>
                </a>
            </div>

        </div>

        <p align="center"><em>Compliance is embedded into real security practices</em></p>

        <div class="page__article">
            <div class="page-post-card__link">
                <a href="{{ url_for('recipes.contact') }}">Let's do a free connection call to discuss your challenges and see if our approach is a good fit.</a>
            </div>
        </div>


        <h2 align="center">Build to last</h2>
        <p align="center"><em>Develop resilience that can grow with your organisation</em></p>

        <div class="recipe-container">

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/audits/iso27001/">
                    <img
                        src="{{ url_for('static', filename='img/mountain.png') }}"
                        alt="The ISO 27001 mountain expedition"
                        class="card__image" />
                    <div class="card__body">
                        <p>The ISO 27001 summit may look daunting: steep slopes of policies, hidden risk crevasses,
                            and paperwork avalanches. We can navigate the climb step by step.</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/audits/nis2/">
                    <img
                        src="{{ url_for('static', filename='img/river.png') }}"
                        alt="The NIS2 river crossing"
                        class="card__image" />
                    <div class="card__body">
                        <p>NIS2 can look like a wild river: incident-response hazards lurking beneath, supply-chain
                            tributaries splitting the flow, and sudden legal rapids, yet we can cross safely.</p>
                    </div>
                </a>
            </div>

            <div class="card">
                <a href="https://purple.tymyrddin.dev/docs/audits/resilience/">
                    <img
                        src="{{ url_for('static', filename='img/beehive.png') }}"
                        alt="Organisational risk audits & resilience assessments"
                        class="card__image" />
                    <div class="card__body">
                        <p>Organisational resilience can feel like tending a beehive: hidden weak cells, overworked
                            drones, and the odd swarm of challenges. We can keep the colony thriving.</p>
                    </div>
                </a>
            </div>

        </div>
        <p align="center"><em>Compliance reinforces operational resilience</em></p>

        <div class="page__article">
            <div class="page-post-card__link">
                <a href="{{ url_for('recipes.contact') }}">Curious how we can strengthen your team? Get in touch.</a>
            </div>
        </div>

    </div>

</div>
{% endblock %}
