{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>Colourful teaming</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">
        <h2>Red and blue teams</h2>

        <p>Red teaming is a term borrowed from the military. In military exercises, the red team simulates attack
            techniques to test the reaction capabilities of a defending blue team against known adversary strategies.</p>

        <p>In cybersecurity, the red team emulates a real threat actor's Tactics, Techniques and Procedures (TTPs)
            for measuring how well the blue team responds and test any security controls in place. Usually the blue
            team is made up of members of a
            <a href="https://purple.tymyrddin.dev/docs/soc/sirt">security incident response team (SIRT)</a> and/or
            <a href="https://purple.tymyrddin.dev/docs/soc/soc">security operations team (SOC)</a>.</p>

        <p>Red teaming does not replace <a href="../pentesting">penetration testing</a>. It complements it by focusing
            on detection and response rather than prevention. Red teaming improves penetration testing by taking into
            account more attack surfaces:</p>
        <ul>
            <li><p>Technical Infrastructure: Like in a regular penetration test, a red team will try to uncover
                technical vulnerabilities, with a much higher emphasis on stealth and evasion.</p></li>
            <li><p>Social Engineering: Targeting people through phishing campaigns, phone calls or social media to
                trick them into revealing information that should remain private.</p></li>
            <li><p>Physical Intrusion: Using techniques like lockpicking, RFID cloning, exploiting weaknesses in
                electronic access control devices to access restricted areas of facilities.</p></li>
        </ul>

        <p>The objective of such exercises is <b>not</b> for the red team to “beat” the blue team. But of course,
                human traits.</p>

        <h2>Purple teams</h2>

        <p>The scope and goals for purple team operations are very similar to the operations defined for a red team.
            The main difference is that focus lies on transparency and collaboration between red, blue, engineering,
            and management teams.</p>
        <p>If attacks succeed and are not caught, detections are fixed and implemented, and attacks are run again right
            away–until there is a measurable improvement.</p>

        <h2>Ingredients for success</h2>

        <p>A gray hat red or purple team is usually better at simulating real attackers, but does have to consider
            legal and organisational policies when operating. This has implications for how realistic certain scenarios
            can be played out – and some scenarios can be played out on paper or using tabletop exercises.
            Re-inventing the wheel is silly, so we can either use <a href="https://uu.tymyrddin.dev/games/">existing games</a>
            as inspiration, and adapt those to a local context to <a href="../awareness">not fall in bias traps</a>, or
            design a totally new game.</p>
    </div>

    <div><hr class="light"></div>
    <div class="recipe-container">

        <div class="card">
            <a href="https://red.tymyrddin.dev/">
                <img
                    src="{{ url_for('static', filename='img/redteam.png') }}"
                    alt="Red Team"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Red team</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://blue.tymyrddin.dev/">
                <img
                    src="{{ url_for('static', filename='img/blueteam.png') }}"
                    alt="Blue Team"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Blue team</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://purple.tymyrddin.dev/">
                <img
                    src="{{ url_for('static', filename='img/purpleteam.png') }}"
                    alt="Purple Team"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Purple team</h2>
                </div>
            </a>
        </div>

    </div>

</div>
{% endblock %}