{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay page-wide">

    <div class="page__article">
        <h1>Thank you</h1>
    </div>

    <div class="page__article_white2">
        <p style="text-align: center;">Your message has been sent. Thanks for reaching out, and I'll get back to you as soon as I can.</p>
    </div>

</div>
{% endblock %}
