{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>About</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">
        <p>Digital security is a fascinating field to work in; it is not the good guys vs bad guys, not white hats vs gray hats vs black hats. And although I have the necessary computer science, math and teaching degrees, it is not about education and certifications. It is about a love for puzzling, not being afraid of new experiences, and about a lifetime of learning.</p>

        <h2>Ingredients for success</h2>
        <p>Likewise, technical knowledge is important, but that is just logic. It is more about understanding people, what makes them tick, and <a href="../awareness">supporting their learning</a>, that will give better results.</p>
        <p>Working with threats and threat modelling requires a paranoia mindset, which can be unhealthy for our minds, and can be rendered less harmful with some humour and unserious seriousness.</p>

        <h2>Services</h2>
        <p>Large organisations and corporations can afford to use <a href="../teaming">colourful teaming</a>. Smaller organisations can probably not afford such costs at all, unless we get creative and find new forms. And there is no one-size-fits-all. The hardest part is finding a common ground to start from and an agreed-upon desired state to work towards.</p>
        <p>As long as there are vulnerabilities, people's devices, their data, and people themselves are at risk. It is the job of (security) professionals and researchers to prevent, find, and fix vulnerabilities, before an attacker takes advantage and inflicts harm. Even more, I am to impart as much knowledge as those I support wish to have, and I have. In my books, it is my job to put myself out of a job.</p>
        <p>I offer low-budget support for people and not-for-profit organisations.</p>
        <h2>Contact</h2>
        <p><a href="../contact">Contact me</a> to discover how we could work together.</p>

        <h2>Legalities</h2>

        <p>Ty Myrddin is based in Dordrecht with KvK number 94171637 and VAT number NL005069703B91.</p>
        <p>This website is made with the Flask framework and has no tracking, not even visitor analytics. If you fill in the contact form to get in touch with me I will reply as soon as possible, and then I will discard your email and my responses. I do not maintain a database of customer data. My privacy and yours are important to me.</p>

    </div>
    <div><hr class="light"></div>

    <div class="recipe-container">

        <div class="card">
            <a href="https://www.root-me.org/Barzh?lang=en">
                <img
                    src="{{ url_for('static', filename='img/rootme.png') }}"
                    alt="Rootme"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Root Me</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://tryhackme.com/p/Nina.Barzh">
                <img
                    src="{{ url_for('static', filename='img/thm.png') }}"
                    alt="THM"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Try Hack Me</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://cyberdefenders.org/p/Nina">
                <img
                    src="{{ url_for('static', filename='img/cyber-defenders.png') }}"
                    alt="Cyber defenders"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Cyber Defenders</h2>
                </div>
            </a>
        </div>

    </div>
</div>

{% endblock %}
