{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>Looking forward</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">
        <p>Scenario planning originated in the U.S. military for making strategic decisions, to plan and prepare for
            various possibilities. Today, scenario planning is used by all kinds or organisations world-wide. Adding
            obliviousness and congruence awarenesses to scenario planning choreographies make it a more balanced
            experience and suitable for planning deductive and inductive paths in possible futures.</p>
    </div>

    <div><hr class="light"></div>
    <div class="recipe-container">

        <div class="card">
            <a href="https://uu.tymyrddin.dev/scenario-logics/">
                <img
                    src="{{ url_for('static', filename='img/hackerone.png') }}"
                    alt="The Ankh Morpork guard"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">A scenario logics example</h2>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="https://oink.tymyrddin.dev/left-hemisphere-dominance/">
                <img
                    src="{{ url_for('static', filename='img/left-hemisphere.png') }}"
                    alt="Disc world"
                    class="card__image" />
                <div class="card__body__in__page">
                    <h2 class="recipe-title-long">Left hemisphere dominance</h2>
                </div>
            </a>
        </div>

</div>
{% endblock %}
