{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogpost_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_style.css') }}">
{% endblock %}

{% block content %}
<div class="blogpost-container card-overlay">

    <div class="page__article">
        <h1>Thank you</h1>
        <hr class="light">
    </div>

    <div class="page__article_white">
        <p>I will get back to you as soon as possible.</p>
    </div>

</div>
{% endblock %}